{% from '@Admin/TwigMacro/admin_sidebar_menu_item.html.twig' import menu_item %}

{% block menu %}
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            {{ 'admin.menu'|trans }}
                        </li>
                        {% for menuItem in menu %}
                            {{ menu_item(menuItem) }}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock menu %}