<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    {% block stylesheets %}
        <link href="{{ asset('admin/build/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/fonts/circular-std/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/charts/chartist-bundle/chartist.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/charts/morris-bundle/morris.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/charts/c3charts/c3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/assets/vendor/fonts/flag-icon-css/flag-icon.min.css') }}" rel="stylesheet" type="text/css" />
    {% endblock stylesheets %}
    <title>
        {% block title %}
            NWT - Admin
        {% endblock title %}
    </title>
</head>

<body>
    <div class="dashboard-main-wrapper">
        {% include '@Admin/Menu/top_navbar.html.twig' %}
        {{ render(controller('AdminBundle:Menu:sidebar'))}}
        <div class="dashboard-wrapper">
            <div class="container-fluid">
                {{ render(controller('AdminBundle:AbstractAdmin:breadcrumb')) }}
                {% include "@Admin/Component/messages.html.twig" %}
                {% block content %}
                {% endblock content %}
            </div>
            {% block footer %}
                {#<div class="footer">#}
                    {#<div class="container-fluid">#}
                        {#<div class="row">#}
                            {#<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">#}
                                {#Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.#}
                            {#</div>#}
                            {#<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">#}
                                {#<div class="text-md-right footer-links d-none d-sm-block">#}
                                    {#<a href="javascript: void(0);">About</a>#}
                                    {#<a href="javascript: void(0);">Support</a>#}
                                    {#<a href="javascript: void(0);">Contact Us</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {% endblock footer %}
        </div>
        {% block javascripts %}
            {# Main JavaScript #}
            <script src="{{ asset('admin/build/js/main.js') }}"></script>

            {# Optional JavaScript #}

            {# chart chartist js #}
            {#<script src="{{ asset('admin/assets/vendor/charts/chartist-bundle/chartist.min.js') }}"></script>#}
            {# sparkline js #}
            {#<script src="{{ asset('admin/assets/vendor/charts/sparkline/jquery.sparkline.js') }}"></script>#}
            {# morris js #}
            {#<script src="{{ asset('admin/assets/vendor/charts/morris-bundle/raphael.min.js') }}"></script>#}
            {#<script src="{{ asset('admin/assets/vendor/charts/morris-bundle/morris.js') }}"></script>#}
            {# chart c3 js #}
            {#<script src="{{ asset('admin/assets/vendor/charts/c3charts/c3.min.js') }}"></script>#}
            {#<script src="{{ asset('admin/assets/vendor/charts/c3charts/d3-5.4.0.min.js') }}"></script>#}
            {#<script src="{{ asset('admin/assets/vendor/charts/c3charts/C3chartjs.js') }}"></script>#}
        {% endblock javascripts %}
    </div>
</body>

</html>