{% extends '@Admin/base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h1 class="text-uppercase">
            Welcome to
        </h1>
        <img src="{{ asset('ct_logo.svg') }}"
             class="img-responsive"
             width="400"
        />
    </div>
{% endblock content %}
