<html>
    <head>
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
    {% block body %}

    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    </body>
</html>