{% macro menu_item(menuItem) %}
    {% if menuItem.role in app.user.roles %}
        {% import _self as self %}
        <li class="nav-item">
            <a class="nav-link"
               {% if null == menuItem.subMenu %}
                   href="{{ menuItem.path }}"
               {% else %}
                   {% set uniqueIdSubmenu = uniqid('submenu-') %}
                   href="#"
                   aria-expanded="false"
                   aria-controls="{{ uniqueIdSubmenu }}"
                   data-toggle="collapse"
                   data-target="#{{ uniqueIdSubmenu }}"
               {% endif %}
            >
                {% if '' != menuItem.icon %}
                    <i class="fa fa-{{ menuItem.icon }}"></i>
                {% endif %}
                {{ menuItem.text }}
            </a>
            {% if null != menuItem.subMenu %}
                <div id="{{ uniqueIdSubmenu }}" class="collapse submenu">
                    <ul class="nav flex-column">
                        {% for menuItem in menuItem.subMenu %}
                            {{ self.menu_item(menuItem) }}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}