{% block breadcrumbs %}
    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active">
                            {{ breadcrumb.label }}
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ breadcrumb.link }}" class="breadcrumb-link">{{ breadcrumb.label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endblock breadcrumbs %}