{% import "@Admin/Component/Macro/alert-macro.html.twig" as alertMacro %}

{% block messages %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {{ alertMacro.alert(message, type) }}
        {% endfor %}
    {% endfor %}
{% endblock messages %}