{% extends '@Admin/Crud/create.html.twig' %}

{% block formDistribution %}
    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.name) }}
        </div>
    </div>
{% endblock formDistribution %}