{% extends "@Admin/Crud/create.html.twig" %}

{% block formDistribution %}
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.shortCode) }}
        </div>
    </div>
{% endblock formDistribution %}