{% extends "@Admin/Crud/Country/create.html.twig" %}

{% block cardHeader %}
    {{ 'admin.card_header_edit'|trans({
        '%entityName%': ('admin.'~crudConfiguration.entityUnderScoreCase)|transchoice(1)
    }) }}
{% endblock cardHeader %}