<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link href="{{ asset('admin/build/css/main.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/build/css/admin/login/login.css') }}" rel="stylesheet" />
    {% endblock stylesheets %}

    <title>
        {% block title %}
            NWT - Admin - Login
        {% endblock title %}
    </title>
</head>

<body>
{% block content %}
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">
                <a href="{{ path('admin_home') }}"><img class="logo-img" src="{{ asset('ct_logo.svg') }}" alt="logo"></a>
                <span class="splash-description">{{ 'security.login.please_enter'|trans }}</span>
            </div>
            <div class="card-body">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endif %}

                {{ form_start(form, {'action': path('fos_user_security_check')}) }}
                    {{ form_row(form._username, {'id': 'username'}) }}
                    {{ form_row(form._password, {'id': 'password'}) }}
                    {{ form_row(form._remember_me, {'id': 'remember_me'}) }}
                    {{ form_row(form._submit) }}
                {{ form_end(form) }}
            </div>
            <div class="card-footer bg-white p-0 text-center">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
{% endblock content %}
</body>

</html>