@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../css/admin-theme-concept/style.css";

/* --- Main wrapper --- */
.dashboard-main-wrapper {
  padding-top: 70px;
}

/* --- Breadcrumbs --- */
.page-breadcrumb .breadcrumb {
  border: 0;
  padding: 12px 16px;
}

/* --- Forms --- */
label.control-label {
  text-transform: uppercase;
}
