{% extends "@Admin/base.html.twig" %}

{% block content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {% block cardHeader %}
                    {{ 'admin.card_header_create'|trans({
                        '%entityName%': ('admin.'~crudConfiguration.entityUnderScoreCase)|transchoice(1)
                    }) }}
                    {% endblock cardHeader %}
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    {% block formDistribution %}
                        {{ form_rest(form) }}
                    {% endblock formDistribution %}
                </div>
                <div class="card-footer d-flex">
                    <div class="btn-group ml-auto">
                        <a class="btn btn-warning"
                           href="{{ path('admin_list', {'entitySlug': crudConfiguration.entitySlug}) }}"
                        >
                            <i class="fa fa-angle-double-left"></i>
                            {{ 'admin.cancel'|trans|upper }}
                        </a>
                        <button type="submit"
                           class="btn btn-success"
                           href="#"
                        >
                            <i class="fa fa-save"></i>
                            {{ 'admin.save'|trans|upper }}
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}