{% extends '@Admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('admin/build/css/DataTable/datatable.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex">
                    <h4 class="card-header-title mb-0">
                        {{ ('admin.card_header_list')|trans({
                            '%entityName%': ('admin.'~crudConfiguration.entityUnderScoreCase)|transchoice(1)
                        }) }}
                    </h4>
                    <div class="ml-auto">
                        <a href="{{ path('admin_create', {
                            'entitySlug': crudConfiguration.entitySlug
                        }) }}"
                           class="btn btn-success"
                        >
                            {{ 'admin.new'|trans|upper }}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="DataTable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                {% for column, visible in tableColumns %}
                                    {% if visible %}
                                        <td>
                                            {% if '' != column %}
                                                {{ ucfirst(('admin.'~column)|transchoice(0)) }}
                                            {% else %}
                                                {{ ucfirst('admin.options'|trans) }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for column, visible in tableColumns %}
                                    {% if visible %}
                                        <td></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% autoescape false %}
        var crudConfiguration = {{ crudConfiguration|json_encode }};
        {% endautoescape %}
        var customDom = '';
        var entityEditPath = '{{ crudConfiguration.editPath }}';
        var entityDeletePath = '{{ crudConfiguration.deletePath }}';
        var customColumnsExist = '{{ customColumnsFileExists }}';
    </script>
    <script src="{{ asset('admin/build/js/DataTable/init.js') }}"></script>
{% endblock javascripts %}