{% extends "@Admin/Crud/create.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('admin/build/css/admin/user/user-form.css') }}" rel="stylesheet" />
{% endblock %}

{% block formDistribution %}
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.username) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.roles) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.enabled) }}
            {{ form_row(form.locked) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>
{% endblock formDistribution %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('admin/build/js/admin/user/user-form.js') }}"></script>
{% endblock javascripts %}